.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: $color-white;
    padding: 2rem;
    width: 32rem;
    border-radius: 1rem;
    box-shadow: 0 2rem 2rem rgba($color-secondary-1, 0.1);



    & > *{
        margin-bottom: 2rem;
    }

    &__textbox{
        & > * {
            &:not(:last-child){
                margin-bottom:1.5rem;
            }
        }
    }

    &__img{
        width: 100%;
        display: inline-block;
        border-radius: 1rem;
    }

}