// COLORS 
$color-primary: hsl(212, 45%, 89%);
$color-secondary-1: hsl(218, 44%, 22%);
$color-secondary-2: hsl(220, 15%, 55%);
$color-white: hsl(0, 0%, 100%);

// FONTS
$fw-regualar : 400;
$fw-bold : 700;